{% extends 'base.html.twig' %}
{% block meta_title %}{{ ('app.homepage')|trans }}{% endblock %}
{% block content %}
<div class="container" id="main">
    {% if beers|length > 0 %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ ('app.beer.number')|trans }}</th>
                    <th>{{ ('app.beer.name')|trans }}</th>
                    <th>{{ ('app.beer.brewery')|trans }}</th>
                    <th>{{ ('app.beer.country')|trans }}</th>
                    <th>{{ ('app.beer.type')|trans }}</th>
                    <th>{{ ('app.beer.degree')|trans }}</th>
                    <th>{{ ('app.beer.price')|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for beer in beers %}
                        <tr>
                            <td>{{ beer.number }}</td>
                            <td>{{ beer.name }}</td>
                            <td>{{ beer.brewery }}</td>
                            <td>{{ beer.country }}</td>
                            <td>{{ beer.type }}</td>
                            <td>{{ beer.degree }}</td>
                            <td>{{ beer.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {{ 'app.no_data'|trans }}
    {% endif %}
</div>
{% endblock %}
